.addtocardbtn {
    background: #E42126 0% 0% no-repeat padding-box !important;
    /* box-shadow: 0px 3px 6px #E42126; */
    border-radius: 10px !important;
    height: 38px;
    padding: 0 10px;
    float: right;
    color: white !important;
    width: 238px !important;
    border: 1px solid #E42126;
    margin:0 auto;
}
.addtocardbtngreen {
    background: #2EC114 0% 0% no-repeat padding-box !important;
    /* box-shadow: 0px 3px 6px #E42126; */
    border-radius: 10px !important;
    height: 38px;
    padding: 0 10px;
    float: right;
    color: white !important;
    width: 238px !important;
    border: 1px solid #E42126;
}
.order-bottom {
    width: 100%;
    display: flex;
}
.order-card {
    border: 2px solid #cccccc;
    padding: 10px 10px;
    background: #e1d5d529;
    box-shadow: 0px 3px 6px #cccccc;
}
.order-col-right label{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}
.redbg{
    background: #E42126 0% 0% no-repeat padding-box;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}

.containerpadding{
    padding-top: 50px;
}
.productrow{
    width: 90%;
    margin: auto !important;
}
.redbgviewcart{
    background: #E42126 0% 0% no-repeat padding-box;
    height: 200px;
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
}
.editcolumn{
    width: 53% !important;
    margin-left: -29px;
}
.rededit{
    color: #E42126;
}
.addtocardbtnnew{
    background: #E42126 0% 0% no-repeat padding-box !important;
    /* box-shadow: 0px 3px 6px #E42126; */
    border-radius: 10px !important;
    height: 38px;
    padding: 0 10px;
    color: white !important;
    width: 336px !important;
    border: 1px solid #E42126;
    margin-top: 80px;
}
.addtocardbtnnewgreen{
    background: #2EC114 0% 0% no-repeat padding-box !important;
    /* box-shadow: 0px 3px 6px #E42126; */
    border-radius: 10px !important;
    height: 38px;
    padding: 0 10px;
    color: white !important;
    width: 336px !important;
    border: 1px solid #E42126;
    margin-top: 80px;
}
.textcenter{
    text-align: center;
}
.cartbtn{
    font-size: 17px;
    padding-right: 10px;
}
.inputclass{
    position: relative;
    display: flex;
    flex-wrap: inherit !important; 
    align-items: stretch; 
    width: 100%;
    margin-top: 20px;
}
.editwidth{
    width: 243px !important;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: white !important;
    border: 1px solid #ced4da;
    border-right: 1px solid white !important;
}

.order-col-left{
    width: 50%;
    padding: 0 10px 0 0;
}
.order-col-right{
    width: 50%;
}
.order-col-left img{
    margin-top: 30%;
    background-color: #fff;
    padding:2px;
}