.logo-main{
    background-color: #FAFBFC;
    padding:30px 20px;
}
.menuitem{
    display: block;
    margin:20px 10px 0 10px;
    border-radius: 5px;
    
    
}
.menuitem:hover span {
    color: #E42126 ;
    
}
.menuitem:hover i{
    color: #E42126 !important ;
}
.outl{
    height: 2px;
    background-color: #fff;
    width: 70%;
    display: block;
    margin:-5px auto 0 auto;
    border:none !important;
    border-color: #fff !important;
}

.menu-icon, .menu-icon svg {
height: 25px;
width: 25px;

}
.menuitem:hover .menu-icon svg{
    fill: #E42126 !important;
}
.active-side svg{
    fill: #E42126;
}
.not-active svg{
    fill: #fff;
}
.logout-btn button{
    background-color:#fff !important;
    margin: 20px auto 0 auto;
    color: #E42126 !important;
    font-weight: 500 ;
    padding:10px 0;
    width: 90%;
    border-radius: 4px;
    display: block;
   
}
.logout-btn{
    padding:30px 0;
}